<div class="row section">
    <div class="col s12 centered">

      <nav>
        <div class="nav-wrapper">          
            <div class="input-field">              
              <input id="search" type="search" inputmode="search">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>              
              <i class="material-icons">close</i>
            </div>
        </div>        
      </nav>

      <div class="section">
        <ul id="lista-catalogos" class="dropdown-content left red-text text-lighten-2">
          <!--
          <li><a href="#!">one<span class="badge">1</span></a></li>
          <li><a href="#!">two<span class="new badge">1</span></a></li>
          <li><a href="#!">three</a></li>
          -->
          <!--
          <li><a><i class="material-icons left">archive</i>one</a></li>
          <li><a>two</a></li>
          <li><a>three</a></li>
          -->
        </ul>
        <a class="btn dropdown-trigger waves-effect waves-light red lighten-2" href="#!" data-target="lista-catalogos">Catalogos<i class="material-icons right">arrow_drop_down</i></a>
       
        <button class="right btn waves-effect waves-light red lighten-2" type="submit" name="action" onclick=onBuscar()>Buscar
          <i class="material-icons right">send</i>
        </button>
      </div>

    </div>

    <div id="resultado-busqueda">
    </div>
    
</div>
